@import '../../../styles.scss';
/*
* All the style for the table in the main style file because the table content coming from inner html attribute
*/
.game-details {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url('/assets/images/unnamed.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 25px;
  overflow-y: auto;

  .table-and-players{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;

    @include media-query(lg) {
      display: block;
    }
  }

  .game-info {
    position: relative;
    text-align: center;
    box-shadow: 0 0 8px gray;
    padding: 10px;
    border-radius: 10px;
    max-width: 460px;
    margin: 0 auto;
    background-image: linear-gradient(to left, rgba(216, 166, 59, 0.7), rgba(200, 211, 212, 0.7));

    .app-copy-link {
      margin: 20px 10px;
      width: calc(100% - 20px);
      height: 40px;
    }
  }
}
