.home-body {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url('/assets/images/chess-Int.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  .home-body-cover {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 30px;
    background-color: rgba(255,255 ,255, 0.2);

    .top {
      padding-top: 100px;
      display: flex;
      justify-content: space-between;

      .heading {
        color: white;

        .heading-1 {
          margin-top: 0;
          font-size: 3rem;
          padding-left: 20px;
          font-family: 'Great Vibes', cursive;
        }

        .heading-2 {
          font-family: fantasy;
          padding-left: 50px;
        }
      }

      .sign-in {
        transition: 1.5s;
        transform: translate(500px, 0);
        padding-right: 35px;
      }
    }

    .main {
      display: flex;
      padding-top: 50px;
      padding-right: 35px;
      justify-content: flex-end;

      .start-game {
        position: relative;
        transition: 1.5s;
        transform: translate(0, 500px);
        box-shadow: 2px 2px 12px gray;
        width: 400px;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.3);
        padding: 25px;

        h1, p {
          color: white;
          text-align: center;
        }

        h1 {
          font-family: fantasy;
        }

        p {
          text-shadow: 0 0 6px black;
        }
        p.bottom-text {
          margin-top: -15px;
        }

        .copy-tooltip,
        .copied-tooltip {
          position: absolute;
          bottom: 5px;
          background-color: rgba(0,0,0,0.9);
          z-index: 3;
          color: white;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0 0 16px gray;

          &:before {
            content:"";
            position: absolute;
            right: calc(50% - 8px);
            top: 0;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-right: 16px solid rgba(0,0,0,0.9);
            border-bottom: 8px solid transparent;
            transform: rotate(-27.5deg) translate(0, -13px);
         }
        }
        .copy-tooltip {
          display: none;
          left: 150px;
        }

        .copied-tooltip {
          left: 120px;
        }

        button {
          display: block;
          margin: 20px 10px;
          width: calc(100% - 20px);
          height: 40px;
          border-radius: 10px;
          background-image: linear-gradient(to left, rgba(216, 166, 59, 0.7), rgba(200, 211, 212, 0.7));
          transition: 0.3s;
          outline: none;
          color: white;
          text-shadow: 0 0 8px gray;

          &:hover {
            cursor: pointer;
            background-image: linear-gradient(to left, rgba(216, 166, 59, 1), rgba(200, 211, 212, 1));
            transform: scale(1.01);
            box-shadow: 2px 2px 8px gray;
          }
        }

        input {
          width: 100%;
          border: none;
          outline: none;
          color: rgb(30, 30, 30);
          text-shadow: 0 0 2px white;
          height: 35px;
          border-radius: 5px;
          padding: 10px;
          padding-left: 60px;
          background-image: linear-gradient(to left, rgba(216, 166, 59, 0.7), rgba(200, 211, 212, 0.7));
        }

        strong {
          display: block;
          padding: 10px;
          text-shadow: 0 0 12px black;
          color: white;
          transform: translate(0, -40px);

          &:hover {
            cursor: pointer;
            transform: scale(1.1) translate(13px, -36px);
          }

          &:hover + .copy-tooltip {
            display: block;
          }
        }
      }
    }
  }
}
