@import '../../../styles.scss';

.home-body {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url('/assets/images/chess-Int.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  .home-body-cover {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 30px;
    background-color: rgba(255,255 ,255, 0.2);

    .top {
      padding-top: 75px;
      padding-left: 10px;
      display: flex;
      justify-content: flex-end;

      @include media-query(lg) {
        padding-top: 200px;
        justify-content: flex-start;
      }

      .heading {
        position: absolute;
        top: 75px;
        left: 10px;
        color: white;

        .heading-1 {
          margin-top: 0;
          font-size: 3rem;
          padding-left: 20px;
          font-family: 'Great Vibes', cursive;

          @include media-query(sm) {
            font-size: 2.5rem;
          }
        }

        .heading-2 {
          font-family: fantasy;
          padding-left: 50px;

          @include media-query(sm) {
            font-size: 1.25rem;
          }
        }
      }

      .sign-in {
        transition: 1.5s;
        transform: translate(500px, 0);
        padding-right: 35px;
      }
    }

    .main {
      display: flex;
      padding-top: 50px;
      padding-right: 35px;
      justify-content: flex-end;

      @include media-query(sm) {
        padding-right: 0;
        justify-content: center;
      }

      .start-game {
        position: relative;
        transition: 1.5s;
        transform: translate(0, 500px);
        box-shadow: 2px 2px 12px gray;
        width: 400px;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.3);
        padding: 25px;


        @include media-query(sm) {
          width: 300px;
          padding: 10px;
          padding-top: 20px;
        }

        h1, p {
          color: white;
          text-align: center;
        }

        h1 {
          font-family: fantasy;
        }

        p {
          text-shadow: 0 0 6px black;
        }
        p.bottom-text {
          margin-top: -15px;
        }

        .app-copy-link {
          margin: 20px 10px;
          width: calc(100% - 20px);
          height: 40px;
        }

        button {
          display: block;
          margin: 20px 10px;
          width: calc(100% - 20px);
          height: 40px;
          border-radius: 10px;
          background-image: linear-gradient(to left, rgba(216, 166, 59, 0.7), rgba(200, 211, 212, 0.7));
          transition: 0.3s;
          outline: none;
          color: white;
          text-shadow: 0 0 8px gray;

          &:hover {
            cursor: pointer;
            background-image: linear-gradient(to left, rgba(216, 166, 59, 1), rgba(200, 211, 212, 1));
            transform: scale(1.01);
            box-shadow: 2px 2px 8px gray;
          }
        }
      }
    }
  }
}
