@import '../../../styles.scss';

.player {
  margin: 10px;
  padding: 25px;
  box-shadow: 2px 2px 8px gray;
  border-radius: 10px;
  max-width: 300px;

  @include media-query(md) {
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    overflow-x: auto;
    margin: 0 auto;
  }

  @include media-query(sm) {
    padding: 10px;
    padding-left: 20px;
    width: calc(100% - 15px);
  }

  .user-details {
    text-align: center;

    img {
      margin-top: -70px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      border: 3px solid white;

      @include media-query(md) {
        margin-top: 10px;
      }
    }
  }

  .time-played {
    min-width: 100px;
  }

  .time-count {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 7.7px;
    box-shadow: 0 0 6px gray;
  }

  .kills {

    @include media-query(md) {
      min-width: 125px;
    }

    .dead-tools {

      @include media-query(md) {
        max-height: 100px;
        overflow-y: auto;
      }

      .tool {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
      }
    }
  }
}

.score {
  min-width: 100px;

  @include media-query(md) {
    min-width: 130px;
    padding-right: 30px;
  }
}

.player.white {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);

  .tool {
    box-shadow: 0 0 4px black;

    &:hover {
      cursor: default;
    }
  }
}
.player.black {
  color: white;
  background-color: rgba(0,0,0,0.7);

  .tool {
    box-shadow: 0 0 4px white;
  }
}
