<div class="player" [ngClass]="{white: color, black: !color}">

  <div class="user-details ">
    <img class="user-img" [src]="image" alt="user" referrerpolicy="no-referrer">
    <h6>{{name}}</h6>
  </div>

  <div class="time-played ">
    <h6 class="text-center mt-3">Time Played</h6>
    <app-time-counter
      *ngIf="counter || counter === 0; else timeCount"
      [startTime]="counter"
      [color]="color"
      [isActive]="isActive"
    ></app-time-counter>
    <ng-template #timeCount>
      <div class="time-count">{{time}}</div>
    </ng-template>
  </div>

  <div *ngIf="deadTools?.length" class="kills">
    <h6 class="text-center mt-3">Kills</h6>
    <div class="row dead-tools">
      <div class="tool-wrapper col-4 p-1" *ngFor="let tool of deadTools">
        <div class="tool">{{tool}}</div>
      </div>
    </div>
  </div>

  <h6 class="score text-center mt-3">Kills Score: {{killsScore}}</h6>
</div>
