<div class="container-fluid d-flex align-items-center">
  <div class="wrapper w-100 d-flex justify-content-between">
    <app-player
      [user]="blackUser"
      [color]="false"
      [counter]="timeCounters?.blackTime"
      [deadTools]="deadTools?.black"
    ></app-player>
    <app-chess-table [playerColor]="playerColor"></app-chess-table>
    <app-player
      [user]="whiteUser"
      [color]="true"
      [counter]="timeCounters?.whiteTime"
      [deadTools]="deadTools?.white"
    ></app-player>
  </div>
</div>
