<app-back-home-btn (leavePage)="leavePage($event)"></app-back-home-btn>
<app-waiter (close)="exitGame('Home')"></app-waiter>
<div class="container-fluid">
  <div class="table-and-players">
    <app-player
      [name]="blackUser?.displayName"
      [image]="blackUser?.photoURL"
      [color]="false"
      [counter]="timeCounters?.blackTime"
      [deadTools]="deadTools?.black"
    ></app-player>
    <app-chess-table [playerColor]="playerColor"></app-chess-table>
    <app-player
      [name]="whiteUser?.displayName"
      [image]="whiteUser?.photoURL"
      [color]="true"
      [counter]="timeCounters?.whiteTime"
      [deadTools]="deadTools?.white"
    ></app-player>
  </div>
</div>
