@import '../../../styles.scss';

.container-fluid {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url('/assets/images/unnamed.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  overflow-y: auto;

  .table-and-players{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;

    @include media-query(md) {
      display: block;
    }
  }
}
