<div class="game">
  <div class="players">
    <div class="user-details white-user-details">
      <img class="user-img" [src]="whitePlayer?.photoURL" alt="user" referrerpolicy="no-referrer">
      <h6 class="player-name text-center mt-2">{{whitePlayer?.displayName}}</h6>
    </div>
    <h1>VS</h1>
    <div class="user-details black-user-details">
      <img class="user-img" [src]="blackPlayer?.photoURL" alt="user" referrerpolicy="no-referrer">
      <h6 class="player-name text-center mt-2">{{blackPlayer?.displayName}}</h6>
    </div>
  </div>
  <button (click)="showGameDetails()">Game Info</button>
</div>
