@import '../../../styles.scss';

.coronation {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);

  .options {
    width: 515px;
    display: flex;
    justify-content: center;
    align-items: space-around;
    font-size: 3rem;
    background-color: rgba(225,225,225, 0.75);
    border-radius: 20px;
    box-shadow: 2px 2px 8px black;

    @include media-query(sm) {
      width: 300px;
      padding: 10px;
      font-size: 2.3rem;
      border-radius: 17px;
    }

    .option {
      cursor: pointer;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      border-radius: 20px;
      background-color: #bbb;
      box-shadow: 2px 2px 8px black;
      transition: 0.5s;

      @include media-query(sm) {
        height: 60px;
        margin: 10px;
        border-radius: 10px;
      }

      &:hover {
        transform: scale(1.1);
        background-color: #ddd;
        box-shadow: 2px 2px 12px black;
        text-shadow: 0 0 12px white;
      }
    }
  }
}



